h1{
    text-align: center;
    color: grey;
}



.container p{
    font-size: 3em;
    color:grey ;

}


.container{
margin: auto;
}

.container i{
    font-size: 5em;
    color: orange;
    border-radius: 50%;
    background-color: grey;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    opacity: 0.8;
}

hr {
    width: 25%;
    color:grey ;
}